/* 覆盖标签默认样式 */
body {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* 自定义页面滚动条 */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	margin: 5px 0;
}
::-webkit-scrollbar-thumb {
	margin: 5px 0;
	border-radius: 15px;
	background: grey;
}

::-webkit-scrollbar-track {
	margin: 5px 0;
	border-radius: 15px;
}

/* 自定义网站字体 */
@font-face {
	font-family: "luoliti";
	/* 优先读取 woff2 格式的字体文件，如果不支持或者读取失败，就读取 ttf 格式的备用文件 */
	src: url("https://file.xtt.moe/files/fonts/LuoLiTi-2.woff2") format("woff2"),
		url("https://file.xtt.moe/files/fonts/LuoLiTi-2.ttf");
	font-display: swap;
}
/* 目前为了缓解请求压力，logo 使用了 base64 文字图片，当前不使用字体，也就不需要请求字体文件了 */
/* @font-face {
	font-family: "katong";
	src: url("https://file.xtt.moe/files/fonts/katong.woff2") format("woff2"),
		url("https://file.xtt.moe/files/fonts/katong.ttf");
	font-display: auto;
} */

/* https://www.yishuzi.cn/sucai/84277.html 可爱少女体 */
/* @font-face {
	font-family: "popuramu";
	src: url("/fonts/popuramu.otf");
} */
